$darkpurple: #5d35b1;
$lightpurple: #ede7f6;
$brightblue: #2197f3;
$lightblue: #e3f2fd;
$white: #ffffff;
$midnight: #121936;
$transparentBG: #1b223f;
$cardBG: #222946;
$iconBG: #2a314f;
$navBG: #1b1e47;
$navText: #bdc8f0;
$cardText: #8493c4;
$lightborder: #353c5a;
$brightpurple: #7c4dff;
$brightred: #f34436;
$brightgreen: #00c852;
$brightyellow: #ffc108;
$twitterblue: #2ab6f6;
$streamoutline: #414967;
$lightoutline: #363d5b;
$settingsoutline: #2f3653;
