//<------ COLOR PALETTE ------>

$darkpurple: #5d35b1;
$lightpurple: #ede7f6;
$brightblue: #2197f3;
$lightblue: #e3f2fd;
$white: #ffffff;

$midnight: #121936;
$transparentBG: #1b223f;
$cardBG: #222946;
$iconBG: #2a314f;
$navBG: #1b1e47;
$navText: #bdc8f0;
$cardText: #8493c4;
$lightborder: #353c5a;
$brightpurple: #7c4dff;
$brightred: #f34436;
$brightgreen: #00c852;
$brightyellow: #ffc108;
$twitterblue: #2ab6f6;
$streamoutline: #414967;
$lightoutline: #363d5b;
$settingsoutline: #2f3653;

//<------ DASHBOARD ------>

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  background-color: $midnight;
  overflow: hidden;
}

.container {
  height: 100%;
}

.body-wrapper {
  display: flex;
  width: 100%;
  height: 102%;
  overflow: hidden;
}

.navigation-wrapper {
  width: 99.8vw;
  padding-top: 0.5rem;
  margin-bottom: 0.4rem;
}

.top-navigation {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.3rem;
}

.logo-wrapper {
  display: flex;
}

.shepherd-icon {
  font-size: 2.3rem;
}

.logo {
  margin-left: 2.3rem;
  margin-top: 0.5rem;
  color: $navText;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1.05rem;
}

.menu-button-container {
  margin-left: 3.7rem;
  margin-top: 0.6rem;
  cursor: pointer;
  // background-color: #ede7f6;
  background-color: $iconBG;
  border-radius: 0.6rem;
  transition: all 0.4s;
}

.menu-button-container:hover {
  // background-color: #5d35b1;
  background-color: $brightpurple;
}

.menu-icon {
  font-size: 1.4rem;
  // color: #5d35b1;
  color: $brightpurple;
  padding: 0.4rem 0.6rem 0.4rem 0.6rem;
  transition: all 0.4s;
}

.menu-icon:hover {
  color: #ffffff;
}

.profile-wrapper {
  display: flex;
}

.user-profile {
  margin-right: 2.3rem;
}

.user-icon {
  margin-top: 1.25rem;
  font-size: 2.1rem;
  // color: #2197f3;
  color: $iconBG;
  cursor: pointer;
  transition: all 0.4s;
}

.user-icon:hover {
  color: $brightblue;
}
// .notifications {
//   margin-right: 2rem;
// }

// .toggle-dark {
//   margin-right: 2rem;
// }

.menu-wrapper {
  height: 90.2vh;
  margin-left: -15.5;
}

.menu-navigation {
  height: 100%;
  width: 17.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.7rem;
  margin-left: -15.5rem;
  border-radius: 0.3rem;
  transition: all 0.6s;
}

.open {
  margin-left: 0;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  height: 3rem;
  width: 14rem;
  color: $navText;
  font-size: 1.05rem;
  border-radius: 0.5rem;
  transition: all 0.3s;
  cursor: pointer;
  z-index: 10;
}

.nav-link:hover {
  // background-color: #ede7f6;
  background-color: $navBG;
  color: $brightpurple;
}

.selected-view {
  background-color: $navBG;
  color: $brightpurple;
}

.main-interface-wrapper {
  width: 96%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: #e3f2fd;
  background-color: $transparentBG;
  border-radius: 1rem 1rem 0 0;
  margin: 0.7rem 1.2rem 0rem 0rem;
}

.chart-wrapper {
  width: 100vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  // margin-right: 15.45rem;
  margin-right: 18.1%;
  margin-bottom: 1rem;
}

.chart-visual {
  width: 82.9%;
  height: 88%;
  margin-top: 1rem;
  border-radius: 0.7rem;
  // border: 1px solid #cde7fc;
  border: 1px solid $midnight;
  // background-color: #ffffff;
  background-color: $cardBG;
}

.select-time {
  padding: 0.3rem;
  margin-top: 1rem;
  // margin-left: 1rem;
  border-radius: 0.3rem;
  font-family: "Inter", sans-serif;
  // border: 1px solid #cde7fc;
  border: 1px solid $lightborder;
  background-color: $transparentBG;
  color: $navText;
  outline: none;
  margin-right: 0.1rem;
}

.select-time:hover {
  border: 1px solid $navText;
}

.overview-wrapper {
  width: 100%;
  height: 49.95vh;
  display: flex;
  margin-left: 0.7rem;
}

.metrics-wrapper {
  height: 100%;
  width: 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.55rem;
  margin-left: -0.55rem;
}

.functions-wrapper {
  height: 100%;
  width: 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.55rem;
}

.stream-wrapper {
  height: 100%;
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0.55rem;
}

.small-card-wrapper {
  height: 4rem;
  width: 58.5%;
  margin-bottom: 1.85rem;
  // margin-left: 1.5rem;
  margin-left: 4.2%;
  // border: 1px solid #cde7fc;
  border-radius: 0.5rem;
  // background-color: #ffffff;
  background-color: $cardBG;
  color: $cardText;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin-right: 4.5%;
}

.call-icon {
  font-size: 1.2rem;
  color: $brightblue;
}

.bug-icon {
  font-size: 1rem;
  color: $brightred;
}

.dollar-icon {
  font-size: 1.1rem;
  color: $brightgreen;
}

.throttle-icon {
  font-size: 1.1rem;
  color: $brightyellow;
}

.metric {
  margin-top: 0.7rem;
  color: $white;
}

.medium-card-wrapper {
  display: flex;
  height: 8rem;
  width: 80%;
  margin-bottom: 4.6rem;
  // margin-right: 5.65rem;
  margin-right: 19.5%;
}

.medium-card-color {
  // background-color: $brightpurple;
  height: 9rem;
  width: 38%;
  border-radius: 0.9rem 0 0 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.medium-card-body {
  background-color: $cardBG;
  height: 9rem;
  width: 61%;
  border-radius: 0 0.9rem 0.9rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.function-icon {
  color: $lightpurple;
  font-size: 2.3rem;
}

.exclamation-icon {
  color: $lightpurple;
  font-size: 2.2rem;
}

.card-text-1 {
  color: $white;
  margin-left: 2.6rem;
  margin-top: 1.8rem;
  margin-bottom: -0.1rem;
  font-size: 1.1rem;
}

.card-text-2 {
  color: $lightpurple;
  margin-left: 2.6rem;
  margin-bottom: 2rem;
  font-size: 0.9rem;
}

.stream-container {
  background-color: $cardBG;
  height: 21.6rem;
  width: 90%;
  border-radius: 1rem;
  margin-right: 5.7rem;
}

.stream-header {
  height: 3.3rem;
  border-bottom: 1px solid $streamoutline;
  display: flex;
  justify-content: center;
  align-items: center;
  // padding-left: 2.5rem;
  color: $white;
  font-size: 1.1rem;
}

//<-------- SETTINGS ------->

.settings-wrapper {
  width: 96%;
  // height: 100%;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // background-color: #e3f2fd;
  background-color: $transparentBG;
  border-radius: 1rem 1rem 0 0;
  margin: 0.7rem 1.2rem 0rem 0rem;
}

.settings-header {
  width: 100%;
  height: 5rem;
  border-bottom: 1px solid $streamoutline;
  display: flex;
  justify-content: flex-start;
}

.settings-header-text {
  font-size: 1.05rem;
  color: $navText;
  padding-left: 2.5rem;
  display: flex;
  align-items: center;
}

.settings-body {
  display: flex;
  width: 100%;
  height: 100%;
}

.settings-left {
  width: 30%;
  height: 100%;
  border-right: 1px solid $midnight;
}

.setting-active {
  background-color: $cardBG;
}

.tab-view-name {
  display: flex;
  align-items: center;
  margin-left: 9.6%;
  margin-top: 1.6rem;
  height: 4.1rem;
  width: 81%;
  border-radius: 0.6rem;
  cursor: pointer;
}

.tab-view-name:hover {
  background-color: $cardBG;
}

.tab-text-wrapper {
  // margin-top: 0.2rem;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tab-text-1 {
  color: $navText;
  font-size: 0.9rem;
  margin-bottom: -0.3rem;
}

.tab-text-2 {
  color: $cardText;
  font-size: 0.8rem;
}

.tab-view-icon {
  display: flex;
  align-items: center;
}

.address-icon {
  // margin-top: 0.2rem;
  margin-left: 1.5rem;
  color: $brightblue;
  font-size: 1.4rem;
}

.key-icon {
  margin-left: 1.5rem;
  color: $brightblue;
  font-size: 1.2rem;
}

.link-icon {
  margin-left: 1.5rem;
  color: $brightblue;
  font-size: 1.2rem;
}

.settings-right {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.edit-account-wrapper {
  margin-top: 1.5rem;
  height: 30rem;
  width: 80%;
  border: 1px solid $settingsoutline;
  border-radius: 1rem;
  margin-right: 0.4%;
}

.edit-header {
  display: flex;
  align-items: center;
  color: $navText;
  font-size: 0.95rem;
  padding-left: 1.3rem;
  height: 4rem;
  border-bottom: 1px solid $settingsoutline;
}

.input-field {
  margin-top: 3rem;
  margin-left: 3.7%;
  height: 2.7rem;
  width: 90%;
  background-color: $midnight;
  border-radius: 0.6rem;
  border: 1px solid $settingsoutline;
  padding-left: 1rem;
  color: $navText;
  font-family: "Inter", sans-serif;
}

.input-field:hover {
  outline: 1px solid $navText;
}

.input-field:focus {
  outline: 1px solid $brightblue;
}

.edit-name-field {
  position: relative;
}

.edit-name-label {
  position: absolute;
  color: $navText;
  top: 1.4rem;
  left: 2rem;
  font-size: 0.8rem;
  width: 1rem;
}

.edit-email-field {
  position: relative;
}

.edit-email-label {
  position: absolute;
  color: $navText;
  top: 1.4rem;
  left: 2rem;
  font-size: 0.8rem;
  width: 8rem;
}

.edit-company-field {
  position: relative;
}

.edit-company-label {
  position: absolute;
  color: $navText;
  top: 1.4rem;
  left: 2rem;
  font-size: 0.8rem;
  width: 8rem;
}

.update-button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.edit-update-button {
  height: 2.2rem;
  width: 6rem;
  background-color: $brightblue;
  color: $white;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  margin-top: 2.8rem;
  margin-right: 4.05%;
  cursor: pointer;
}

//<-------- LOGIN & REGISTRATION PAGES --------->

.landing {
  font-family: "Inter", sans-serif;
  margin: 0;
  background-color: $midnight;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  display: flex;
  align-self: center;
  color: $brightpurple;
  letter-spacing: 2rem;
  font-size: 2rem;
  font-weight: bold;
  padding: 3rem;
  animation: pulse 4s; //add "infinite" if we want it to loop
}

@keyframes pulse {
  0% {
    color: $white;
    font-size: 0.5rem;
  }
  100% {
    color: $darkpurple;
    font-size: 2rem;
  }
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 360px;
  background-color: $white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 20px;
  border-radius: 0.5rem;
}

p {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success-message {
  background-color: $lightpurple;
  padding: 15px;
  color: $darkpurple;
}

.form-field {
  margin: 10px 0 10px 0;
  padding: 18px;
  font-size: 11px;
  border: 0;
  border-radius: 0.5rem;
  border: none;
}

span {
  font-size: 14px;
  color: red;
  margin-bottom: 10px;
}

input {
  background: $lightpurple;
  outline: none;
}

button {
  background: $darkpurple;
  color: $lightpurple;
  cursor: pointer;
  border-radius: 0.3rem;
  transition: background 0.5s;
  box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
  -webkit-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -moz-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -ms-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -o-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  transition: all 400ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
}

button:hover {
  box-shadow: rgba(30, 22, 54, 0.7) 0 80px 0px 2px inset;
}

button:active {
  background-color: $darkpurple;
  background-size: 100%;
  transition: background s;
  margin: 10px 0 10px 0;
  padding: 18px;
  border: 0;
  border-radius: 0.5rem;
  border: none;
  font-size: 16px;
}

button:hover { 
  color: $darkpurple;
  background: $lightpurple;

}
